.main {
    width: 100vw;
    height: 700px;
    background-image: url(../img/spring20200311.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80vw;
    margin: 0 auto;
    padding: 10px 60px;
    /* border: 1px solid red; */
}
.header h1 {
    color: #fff;
    font-size: 18px;
}
.header h1 img {
    margin-right: 10px;
    width: 50px;
    vertical-align: middle;
}

.searchBox {
    display: flex;
    box-sizing: border-box;
    height: 35px;
    width: 240px;
    border: 1px solid rgba(22, 25, 34, 0.2);
    margin-left: 5px;
    border-radius: 20px;
    padding-right: 10px;
    min-width: 220px;
    /* background-color: rgba(22, 25, 34, 0.1); */
    background-color: rgba(243, 241, 241, 0.5);
}
.searchBox div {
    width: 20px;
    height: 100%;
    background-image: url(../img/index_03.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 15px;
}

.searchBox input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 14px;
}
.addressList {
    display: block;
    box-sizing: border-box;
    margin-left: 5px;
    height: 380px;
    overflow: auto;
    padding: 10px;
    width: 240px;
    border-radius: 20px;
    border: 1px solid rgba(22, 25, 34, 0.2);
    background-color: rgba(243, 241, 241, 0.5);
    min-width: 220px;
}
.hotAddr p {
    font-size: 14px;
}
.hotAddr .city {
    display: block;
    background-image: url(../img/index_03.png);
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    margin: 8px 10px;
}
.selectedCityBox {
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.selectedCityBox li {
    position: relative;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(182, 40, 40, 0.5);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.selectedCityBox li::after {
    content: "x";
    position: absolute;
    top: -7px;
    right: -3px;
    font-size: 6px;
}
.ls-city {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 8px 10px;
}
.ls-city .opts {
    display: block;
    padding: 10px 10px 0 0;
    font-size: 14px;
    cursor: pointer;
}
.ls-data-city {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: white;
}
.ls-data-city .d {
    padding: 10px 30px 0 0;
    display: block;
    cursor: pointer;
}

.weatherInfoBox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 78vw;
    height: 415px;
    min-width: 800px;
}
.weatherInfoBox .dateInfoBox {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    color: #fff;
}
#tips {
    cursor: not-allowed !important;
}
#concern_city {
    display: flex;
    margin-left: 10px;
}
#concern_city .attention {
    display: block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    transition: all 1ms;
}
#concern_city .attention:hover {
    transform: scale(1.1, 1.1);
}
#concern_city li::before {
    content: " ";
    width: 1px;
    height: 15px;
    position: absolute;
    top: 11px;
    left: -5px;
    background-color: grey;
}
.concern {
    display: flex;
    color: grey;
}

.concern i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/sprite-7d98dbada9.png);
    background-repeat: no-repeat;
    background-size: 150px !important;
    background-position: -1px -75px;
    margin-top: -5px;
    vertical-align: middle;
}
.concern div:nth-child(2) {
    color: gray;
    margin-left: 5px;
}
.morebox {
    width: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
}
.more {
    box-sizing: border-box;
    overflow: hidden;
    width: 70px;
    height: 35px;
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    cursor: pointer;
    font-size: 12px;
    transition: all 1ms;
}
.more:hover {
    transform: scale(1.1, 1.1);
}
.current {
    display: flex;
    height: 80px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.currentDataW {
    border: 1px solid rgba(22, 25, 34, 0.2);
    background-color: rgba(22, 25, 34, 0.5);
}
.middle {
    margin-left: 5px;
    text-align: end;
}
.currentLfet {
    font-size: 50px;
    height: 60px;
    font-stretch: condensed;
}
.currentLfet sup {
    font-size: 30px;
}

.currentRight {
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
}

.currentRight li {
    display: block;
    float: left;
    padding: 0 20px 0 0;
}
.currentRight p {
    display: block;
    font-size: 14px;
    color: gray;
    margin: -16px 0 5px 188px;
}
.f1,
.f2,
.f3,
.f4,
.f5 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 234px 212px !important;
    background-image: url(../img/sprite-7d98dbada9.png);
    background-repeat: no-repeat;
    vertical-align: baseline;
    margin-right: 5px;
    font-size: 14px;
}

.f1 {
    background-position: -75px -191px;
}
.f2 {
    background-position: -194px -118px;
}
.f3 {
    background-position: -192px -95px;
}
.f4 {
    background-position: -53px -189px;
}
.f5 {
    background-position: -121px -191px;
}
.weatherInfoBox .weather {
    height: 300px;
    display: flex;
    box-sizing: border-box;
    font-size: 14px;
}
.dateInfoBoxDate img {
    display: inline-block;
    margin-top: 5px;
    vertical-align: baseline;
}
.dateInfoBoxDate #cc {
    font-style: normal;
    display: inline-block;
    margin-top: -15px;
    font-size: 16px;
}
.weather div {
    flex: 1;
    text-align: center;
    /* border-right: 1px solid rgb(199, 195, 195); */
    box-sizing: border-box;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    cursor: pointer;
}
.forecast24h:hover {
    transform: scale(0.98, 0.98);
    background-color: rgba(22, 25, 34, 0.8);
}
.weather div:nth-child(1) li {
    color: gray !important;
}
.weather div:nth-child(2) li {
    color: orange !important;
}
.weather div:last-child {
    border-right: 0px;
}
video {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -674px;
    z-index: -10;
    width: 1349px;
    height: 635px;
    object-fit: fill;
}
.weather li {
    padding: 10px 0;
    color: rgb(175, 214, 240);
}
